@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --fontfa: sans-serif;
  --gradtext: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  
  --gradbar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

  --bgclr: #040C18;
  --footer : #031B34;
  --blog: #042c54;
  --text: #81AFDD;
  --subtext: #FF8A71;
}