.gpt__header{
  display: flex;
}

.gpt__header_content{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* margin-right: 5rem; */
  margin: 0 10rem;
}

.gpt__header_content h1{
  font-family: var(--fontfa);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.05em;
}

.gpt__header_content p{
  font-family: var(--fontfa);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: var(--text);
  margin-top: 1.5rem;
}

.header_content_input{
  width: 100%;
  margin: 2rem 0 1rem;
  display: flex;
}

.header_content_input input{
  flex: 2;
  width: 100%;
  min-height: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  line-height: 27px;
  background-color: var(--footer);
  border: 20px solid var(--footer);
  border-radius: 10px;
  padding: 0 1rem;
  outline: none;
  color: white;
  margin-top: 20px;
  margin-right: 10px;
}

.title_text{
  color: var(--subtext);
}

.header_content_input button{
  /* transform: matrix(-1, 0,0,1,0,0); */
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  font-weight: bold;
  background-color: crimson;
  border: 1px solid var(--footer);
  border-radius: 10px;
  padding: 0 1rem;
  outline: none;
  /* color: crimson; */
  color: white;
  margin-top: 20px;
  
  margin-left: 10px;

}

.header_content_people{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.header_content_people img{
  width: 181.79px;
  height: 38px;
}

.header_content_people p{
  margin: 0 0 0 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 38px;
  color: wheat;
  text-align: center;
}

.header_img{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_img img{
  width: 100%;
  height: 100%;

}

@media screen and (max-width: 950px) {
  .gpt__header{
    flex-direction: column;
  }

  .gpt__header_content{
    margin: 0 1rem;
  }
}


@media screen and (max-width: 650px) {
  .gpt__header h1{
    font-size: 48px;
    line-height: 60px;
  }
  

  .header_content_people{
    flex-direction: column;
  }
  .header_content_people p{
    margin: 0;
  }

  
.header_content_input button{
  font-size: 14px;
}
}